@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Huninn", sans-serif;
    font-weight: 550;
}

.body.ativo {
    overflow: hidden;
}

.background-green {
    background-color: rgb(148, 116, 75);
}
/* classes reutilizavéis*/
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section,
footer {
    padding: 2.7rem 0;
}

.btn-gradient {
    padding: 10px 25px;
    border: none;
    color: rgb(255, 246, 205);
    font-weight: 600;
    font-family: "Huninn", sans-serif;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(rgb(219, 171, 87), rgb(209, 138, 87));
    transition: transform 0.3s ease-in-out;
}

.btn-gradient:hover {
    transform: scale(0.98);
}

/* Classes do site*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo a {
    font-size: 35px;
    color: rgb(255, 246, 205);
    font-weight: bold;
}

.ul {
    display: flex;
    align-items: center;
} 

.ul li {
    margin: 0 35px;
    font-size: 16px;
}

.ul li a {
    color: rgb(255, 246, 205);
    font-weight: 600;
}
/* main */
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
}

.main-text {
    width: 50%;
    color: rgb(255, 246, 205);
}

.main-text h1 {
    font-size: 4rem;
}

.main-text div {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 30px;
}
 
.main-img {
    width: 50%;
}

.main-img,
.main-text {
    margin-bottom: 8rem;
}

.main-img img{
    width: 100%;
}

main .btn-gradient {
    font-size: 20px;
    padding: 15px 30px;
}

/* menu icon */
.menu-icon {
    display: none;
    position: relative;
    z-index: 7100;
}

/* resultados */
.resultados {
    background: rgb(255, 255, 255);
}

span img {
    width: 5rem;
    animation: figured 2s infinite ease-in-out;
}

@keyframes figured {
    0% { transform: translateY( 2px);}
    50% { transform: translateY( -10px);}
    100% { transform: translateY( 2px);}
}

.resultados .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resultados-text {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.588);
    font-size: 1.8rem;
    font-weight: 750;
    width: 50%;
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(33, 155, 255);
    text-shadow: 1px 1px 15px;
    font-weight: 600;
}

.imagens p {
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}

.card img {
    width: 8rem;
}

/* diferencias */
.card {
    display: flex;
    align-items: center;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(216, 216, 216);
    gap: 10px;
    flex-direction: column;
    padding: 30px;
}

.diferencias .container {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.diferencias {
    background: rgb(75, 183, 145);
}

.card a button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 550;
    padding: 8px 40px;
    border: none;
    background-color: rgb(106, 188, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card a button:hover {
    background-color: rgb(79, 155, 217);
    box-shadow: 2px 2px 20px rgb(79, 155, 217);
}

.card h1 {
    margin: 3px 0;
    font-weight: 600;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
}

/* section about */
.about .container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50%;
}

.logo-img img {
    width: 100%;
    border-radius: 100%;
}

.about-text {
    width: 50%;
    padding-left: 90px;
}

.about-text p b{
    color: black;
    font-size: 20px;
}

.about-text h2{
    font-size: 2.5rem;
}

.about-text p {
    margin: 20px 0;
    color: rgb(109, 109, 109);
    font-weight: 600;
}

/* newsletter */ 
.newsletter {
    background-image: linear-gradient(90deg, #bd1faa, #f42995);
    margin-top: 50px;
}

.newsletter .box-newsletter {
    text-align: center;
    background-image: url('../img/18776931_6017658.jpg');
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.box-newsletter h2 {
    font-size: 2.5rem;
}

.box-newsletter p {
    margin:  12px 0;
}

.box-newsletter input::placeholder {
    color: white;
    font-weight: 600;
}

.box-newsletter button {
    font-size: 20px;
    border: none;
    margin-top: 20px;
    outline: none;
    padding: 15px 80px;
    border-radius: 12px;
    color: white;
    background-image: linear-gradient(90deg, #bd1faa, #f42995);
    cursor: pointer;
}

/* footer */
footer {
    background-color: #613f12;
    color: white;
}

footer .container {
    display: flex;
}

footer .container ul {
    width: 25%;
}

footer .container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container .redes-socias img {
    margin-right: 3 px;
}

footer .container ul > p {
    margin-bottom: 10px;
}

footer .container li {
    margin: 10px 0;
}

footer .container a {
    color: white;
}

/* site responsivo */
@media (max-width: 960px) {
    .background-green {
        scroll-margin: none;
    }
    .menu-icon {
        display: block;
    }
    .ul {
        position: fixed;
        background-color: rgb(148, 116, 75);
        top: 0;
        height: 100%;
        width: 100%;
        left: 100%;
        transition: 0.6s ease-in-out;
        z-index: 7000;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
    }
    .ul.ativo {
    left: 0;
    }
    main .container {
        flex-direction: column;
        margin-top: 10rem;
    }
    main .btn-gradient, #img {
        margin-top: 5rem;
    }
    main .container .main-img {
        display: none;
    }
    main .container .main-text {
        width: 100%;
        text-align: center;
        margin-bottom: 10rem;
    }
    main .container .main-text h1 {
        font-size: 4rem;
    }
    main .container .main-text div {
        justify-content: center;
    }
    .resultados .container {
        flex-direction: column;
    }
    .imagens {
        margin-top: 40px;
    }
    .resultados-text,
    .imagens {
       width: 100%;
       text-align: center; 
    }
    .diferencias .container {
        flex-direction: column;
        gap: 40px;
    }
    .card {
        width: 100%;
    }
    .about .container {
        flex-direction: column-reverse;
    }
    .about-text {
        padding-left: inherit;
    }
    .about-text,
    .logo-img {
        width: 100%;
        text-align: center;
    }
    .box-newsletter h2 {
        font-size: 2rem;
    }
    .box-newsletter input {
        width: 90%;
    }
    .box-newsletter {
        padding: 20px;
    }
    .box-newsletter button {
        width: 50%;
        margin-top: 20px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 550px) {
    .newsletter .box-newsletter {
        padding: 3rem;
    }
}

@media (max-width: 360px) {
    .imagens {
        flex-direction: column;
        gap: 35px;
    }
    .container .main-text h1 {
        font-size: 3rem;
    }
}